table, th, td {
    border: 1px solid black;
    text-align: center;
}

th {
    height: 100px;
}

td {
    height: 50px;
}


table {
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-collapse: collapse;
}
