/*
คือ คุณสมบัติที่ใช้กำหนด "ความกว้างสูงสุด" ของกล่องข้อความ รูปภาพ 
หรือองค์ประกอบต่าง ๆ (Element) บนหน้าเว็บ


ณสมบัตินี้เป็นหัวใจสำคัญมาก ๆ ในการทำเว็บให้รองรับทุกหน้าจอ (Responsive Web Design) ทั้งบนคอมพิวเตอร์และมือถือ

จะเป็นการปรับขนาดความกว้างตามขนาดหน้าจอ

*/


.container {
    /* width: 960px; */ /*Fixed*/
    max-width: 960px; /*กว้างได้ไม่เกิน960px*/
    margin: 0 auto;
    background-color: yellow;
}